/* src/pages/PlantDetails.css */
.plant-details-page {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.plant-details-page h1 {
  color: #333;
  font-size: 40px;
  margin-bottom: 30px;
}

.details-card {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
}

.plant-icon {
  margin-bottom: 20px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.detail-label {
  color: #333;
  font-weight: normal;
}

.detail-value {
  font-weight: bold;
}

.with-arrow {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.save-button, .delete-button {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.save-button {
  background-color: #8fd28f;
}

.delete-button {
  background-color: #8fd28f;
}