.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6bd12d; /* Your green color */
    padding: 8px 16px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    width: 80%;
    object-fit: contain;
    margin-right: 8px;
  }
  
  .navbar-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: #2d2d2d;
    line-height: 1.1;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .icon-button {
    border: none;
    background: none;
    padding: 8px;
    cursor: pointer;
  }
  
  .icon {
    width: 110%;
    object-fit: contain;
  }
  